@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    height: 20vh;
}

.collage{
    height: 92vh;
}

.nav{
    height: 8vh;
}

.jsp{
    width: 15%;
}

.titre{
    width: 75%;
}

.art{
    height: 80vh;
}

.footer{
    margin-top: 80vh;
}

.mul{
    top: -55vh;
}

.marge {
    margin-top: 1000px;
}